{% extends 'edc_model_admin/admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block field_sets %}
    {% if maternalarvduringpreg %}
        <div class="col-md-12">
            <h2 class="header-text">Arv During Pregnancy </h2>
            <table style="width:98%">
                <thead>
                    <th>Visit Code</th>
                    <th>ARV Code</th>
                    <th>Start Date</th>
                    <th>Stop Date</th>
                </thead>
                <tbody>
                    {% for key, values in maternalarvduringpreg.items %}
                        <tr>
                            <th rowspan={{ values|length|add:"1"}}>{{ key }}</th>
                        </tr>
                            {% for value in values %}
                                <tr>
                                    <td>
                                        {{ value.arv_code | default_if_none:""}}
                                    </td>
                                    <td>{{  value.start_date | default_if_none:"" }}</td>
                                    <td>{{  value.stop_date | default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <br>
    {% endif %}
    {% if special_instructions %}
    <p><b>{{ special_instructions|safe }}</b></p>
    {% endif %}
    {{ block.super }}
{% endblock field_sets %}


{% block submit_buttons_bottom %}
    {{ block.super }}
{% endblock %}
